{% extends 'base.twig' %}

{% block title %}Assign Employee{% endblock %}

{% block content %}
<h2>Assign an Employee to the Project</h2>
<form action="/projects/assign" method="post">
    <label for="employees">Select employees</label>
    <select name="employee" id="employees">
        {% for empl in employees %}
            <option value="{{ empl.id }}">{{ empl.firstName }} {{ empl.lastName }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="id" value={{ projectId }}>
    <input type="hidden" name="save" value="yes"><br>
    <input type="submit" value="Assign">
</form>
    <form action="/projects">
        <input type="submit" value="Cancel">
    </form>
{% endblock %}